@import "https://fonts.googleapis.com/css?family=Open+Sans:600,700";

* {
  font-family: var(--font-dmsans);
}

.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
  color: black;
  border: 1px solid #2d2d2d;
  background: white;
}
.table-tabs {
  margin: 0 auto;
  background-color: #f4f4f4;
}

.rwd-table tr:first-child {
  border-top: none;
  border: 1px solid #2d2d2d;
  color: #12141e99;
}

.rwd-table tr {
  border-bottom: 1px solid #2d2d2d;
  background-image: linear-gradient(
    hsla(0, 0%, 100%, 0.03),
    hsla(0, 0%, 100%, 0.03)
  );
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-image: linear-gradient(
    hsla(0, 0%, 100%, 0.03),
    hsla(0, 0%, 100%, 0.03)
  );
}
.rwd-table tr:last-child {
  border-bottom: none;
}
.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
  color: #12141e99;
}

.rwd-table td:first-child {
  margin-top: 0.5em;
}

.rwd-table td:last-child {
  margin-bottom: 0.5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #12141e99;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: 0.4em;
  overflow: hidden;
}

.rwd-table th,
.rwd-table td {
  padding: 0.5em 1em;
}

/* Status Colors and Backgrounds */
.rwd-table .status {
  padding: 6px 10px;
  text-align: center;
}
.rwd-table .status-inititated {
  background-color: #30cb832a; /* Green */
  color: #30cb83;
  border-radius: 9999999px;
}

.rwd-table .status-approved {
  background-color: #54a0ff2a; /* Blue */
  color: #54a0ff;
  border-radius: 9999999px;
}
.rwd-table .status-completed {
  background-color: #54a0ff2a; /* Blue */
  color: #10bb35;
  border-radius: 9999999px;
}

.rwd-table .status-rejected {
  background-color: #f443362a; /* Red */
  color: #f44336;
  border-radius: 9999999px;
}

/* Sender Arrow */
.rwd-table .arrow-outgoing {
  background-image: url("/sender_svg.svg"); /* Adjust this URL to your outgoing arrow image */
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d2252514; /* Red */
}

/* Receiver Arrow */
.rwd-table .arrow-incoming {
  background-image: url("/receiver_svg.svg"); /* Adjust this URL to your incoming arrow image */
  background-repeat: no-repeat;
  background-position: center;
  background-color: #10bb3514; /* Green */
}

.table-user-gradient {
  width: 30px;
  height: 30px;
  border-radius: 6px;
}

.table-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background: hsla(0, 0%, 100%, 0.08);
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}

/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */

.container-parent {
  /* width: 90%; */
  margin: 0px auto;
  padding-top: 100px;
  font-family: var(--font-dmsans);
}
.custom-container {
  display: block;
  text-align: center;
  /* background-color: white; */
  /* max-width: 1240px; */
  /* margin: 0 auto; */
  /* margin: 30px 0; */
  margin: 24px;
  margin-top: 30px;
  /* border-radius: 10px; */
  /* box-shadow: rgba(204, 204, 204, 0.25) 0px 0px 6px 3px; */
  /* border: 1px solid rgb(224, 224, 224); */
}
.reqheader2 {
  padding: 10px;
  font-size: 24px;
  line-height: 30px;
  color: black;
  font-weight: 700;
}

@media (max-width: 768px) {
  .reqheader2 {
    font-size: 1rem;
  }
}
.activeTabBtn {
  color: #10bb35;
  color: black;
  border-bottom: 2px solid black;
  /* background-color: #10bb3514; */
}

.inactiveBtn {
  color: #12141e61;
  border-bottom: 2px solid transparent;
}
.inactiveBtn:hover {
  color: black;
  border-bottom: 2px solid black;
}
h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: #cecece;
}
h3:before {
  content: "\25C0";
  position: absolute;
  left: -50px;
  -webkit-animation: leftRight 2s linear infinite;
  animation: leftRight 2s linear infinite;
}
h3:after {
  content: "\25b6";
  position: absolute;
  right: -50px;
  -webkit-animation: leftRight 2s linear infinite reverse;
  animation: leftRight 2s linear infinite reverse;
}
@-webkit-keyframes leftRight {
  0% {
    -webkit-transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-10px);
  }
  75% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes leftRight {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-dmsans);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

.senderOrReceiverOnAccordian {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: var(--font-dmsans);
}
.senderOrReceiverOnAccordian svg.receive {
  transform: rotate(180deg);
}
.senderOrReceiverOnAccordian svg.receive path {
  fill: #028d4c;
}
.accordian-parent {
  font-family: var(--font-dmsans);
}

.accordian-txn-status {
  font-size: 0.76rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  border-radius: 99999px;
  padding: 5px 10px;
  background: rgb(239, 255, 244);
  color: #028d4c;
  font-weight: 700;
}
.accordian-txn-status svg {
  margin-right: 5px;
}
.action-btn {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-dmsans), sans-serif;
  font-size: 14px;
  font-weight: 700;
  /* line-height: 20px; */
  /* margin: 0 5px 10px 0; */
  overflow: visible;
  padding: 6.4px 24px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
}
.waiting-action-btn {
  opacity: 0.5;
  pointer-events: none;
}
.completed-action-btn {
  color: #028d4c;
  background: #effff4;
  border: 1px solid #028d4c;
  pointer-events: none;
}
.rejected-action-btn {
  color: #ff5f72;
  background: #ffe6ea;
  border: 1px solid rgb(172, 44, 59);
}
.pointer-none {
  pointer-events: none;
}
.rejected-action-btn:hover {
  color: rgb(172, 44, 59);
  background: rgb(255, 180, 189);
  border: 1px solid rgb(255, 180, 189);
}
