@import "https://fonts.googleapis.com/css?family=Open+Sans:600,700";

* {
  font-family: "Open Sans", sans-serif;
}

.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
  color: black;
  border: 1px solid #2d2d2d;
  background: white;
}
.table-tabs {
  margin: 0 auto;
  background-color: #ffffffc7;
}

.rwd-table tr:first-child {
  border-top: none;
  border: 1px solid #2d2d2d;
  color: #12141e99;
}

.rwd-table tr {
  border-bottom: 1px solid #2d2d2d;
  background-image: linear-gradient(
    hsla(0, 0%, 100%, 0.03),
    hsla(0, 0%, 100%, 0.03)
  );
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-image: linear-gradient(
    hsla(0, 0%, 100%, 0.03),
    hsla(0, 0%, 100%, 0.03)
  );
}
.rwd-table tr:last-child {
  border-bottom: none;
}
.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
  color: #12141e99;
}

.rwd-table td:first-child {
  margin-top: 0.5em;
}

.rwd-table td:last-child {
  margin-bottom: 0.5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #12141e99;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: 0.4em;
  overflow: hidden;
}

.rwd-table th,
.rwd-table td {
  padding: 0.5em 1em;
}

/* Status Colors and Backgrounds */
.rwd-table .status {
  padding: 6px 10px;
  text-align: center;
}
.rwd-table .status-inititated {
  background-color: #30cb832a; /* Green */
  color: #30cb83;
  border-radius: 9999999px;
}

.rwd-table .status-approved {
  background-color: #54a0ff2a; /* Blue */
  color: #54a0ff;
  border-radius: 9999999px;
}
.rwd-table .status-completed {
  background-color: #54a0ff2a; /* Blue */
  color: #10bb35;
  border-radius: 9999999px;
}

.rwd-table .status-rejected {
  background-color: #f443362a; /* Red */
  color: #f44336;
  border-radius: 9999999px;
}

/* Sender Arrow */
.rwd-table .arrow-outgoing {
  background-image: url("/sender_svg.svg"); /* Adjust this URL to your outgoing arrow image */
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d2252514; /* Red */
}

/* Receiver Arrow */
.rwd-table .arrow-incoming {
  background-image: url("/receiver_svg.svg"); /* Adjust this URL to your incoming arrow image */
  background-repeat: no-repeat;
  background-position: center;
  background-color: #10bb3514; /* Green */
}

.table-user-gradient {
  width: 30px;
  height: 30px;
  border-radius: 6px;
}

.table-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background: hsla(0, 0%, 100%, 0.08);
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}

/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */

h1 {
  text-align: left;
  font-size: 1.5em;
  font-weight: 700;
  color: black;
}
.container-parent {
  width: 90%;
  margin: 100px auto;
}
.container {
  display: block;
  text-align: center;
  background-color: white;
  /* max-width: 1240px; */
  width: 100%;
  /* margin: 0 auto; */
  height: max-content;
  margin: 30px 0;
  padding: 0;
  border-radius: 10px;
  box-shadow: rgba(204, 204, 204, 0.25) 0px 0px 6px 3px;
  border: 1px solid rgb(224, 224, 224);
}
.activeTabBtn {
  color: #10bb35;
  background-color: #10bb3514;
  border-radius: 6px;
}

.inactiveBtn {
  background: none;
  border-radius: 6px;
  color: #12141e61;
}
.inactiveBtn:hover {
  background-color: rgba(18, 20, 30, 0.04);
}
h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: #cecece;
}
h3:before {
  content: "\25C0";
  position: absolute;
  left: -50px;
  -webkit-animation: leftRight 2s linear infinite;
  animation: leftRight 2s linear infinite;
}
h3:after {
  content: "\25b6";
  position: absolute;
  right: -50px;
  -webkit-animation: leftRight 2s linear infinite reverse;
  animation: leftRight 2s linear infinite reverse;
}
@-webkit-keyframes leftRight {
  0% {
    -webkit-transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-10px);
  }
  75% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes leftRight {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
