@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #151619;
  background: rgb(2,0,36);
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.initiateBtn{
  padding: 6px 1.5rem;
  background: #4caf50;
  color: white;
  border-radius: 10px;

}
.modal-content2{
  margin: auto;
  min-width: 800px;
  margin-bottom: 50px;
  width: max-content;
  border-collapse: collapse;
  color: #fff;
  border: 1px solid #2d2d2d;
  background: #151619;
  background-image: linear-gradient(hsla(0, 0%, 100%, .03), hsla(0, 0%, 100%, .03));
}
.modal-content2 input{
  background: transparent;
  border: 1px solid #2d2d2d;
  padding: 10px;
  border-radius: 10px;
  margin-top: 6px;
}
.modal-content2 .inputParent{
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: column;
  justify-content: flex-start;
  margin:10px auto;
}

.modal-content2 .inputParent label{
  text-align: left;
}